# Data Cleaning 
### Mental Health Survey Data 2016-2021

In [1]:
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from subprocess import check_output
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.datasets import make_classification
from sklearn.preprocessing import binarize, LabelEncoder, MinMaxScaler
from sklearn.linear_model import LinearRegression
pd.options.mode.chained_assignment = None

In [3]:
# import dataset
df = pd.read_csv("mental_health_data_2016-2021_cleaned_yes_no.csv")

In [4]:
# drop duplicate rows
arp_data = df.drop_duplicates()

In [5]:
arp_data

,Unnamed: 0,What is your age?,What is your gender?,Do you *currently* have a mental health disorder?,Have you ever been *diagnosed* with a mental health disorder?,Have you ever sought treatment for a mental health disorder from a mental health professional?,Do you have a family history of mental illness?,Have you had a mental health disorder in the past?
0,0,39.0,Male,No,Yes,0,No,Yes
1,2,38.0,Male,No,No,1,No,Maybe
2,6,30.0,M,No,No,0,No,No
3,17,34.0,Male,No,No,0,No,No
4,20,26.0,Male,No,No,0,Yes,Maybe
...,...,...,...,...,...,...,...,...
2403,3254,45.0,Male,Yes,Yes,0,Yes,Yes
2404,3255,30.0,Female,Yes,Yes,1,Yes,Yes
2405,3260,35.0,Male,Yes,Yes,1,I don't know,Possibly
2406,3264,33.0,Male,Yes,Yes,1,I don't know,Yes
2407,3268,38.0,male,Yes,No,1,No,NaN

In [6]:
arp_data.drop('Unnamed: 0', 1)

<ipython-input-6-b578c3ee2936>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  arp_data.drop('Unnamed: 0', 1)

,What is your age?,What is your gender?,Do you *currently* have a mental health disorder?,Have you ever been *diagnosed* with a mental health disorder?,Have you ever sought treatment for a mental health disorder from a mental health professional?,Do you have a family history of mental illness?,Have you had a mental health disorder in the past?
0,39.0,Male,No,Yes,0,No,Yes
1,38.0,Male,No,No,1,No,Maybe
2,30.0,M,No,No,0,No,No
3,34.0,Male,No,No,0,No,No
4,26.0,Male,No,No,0,Yes,Maybe
...,...,...,...,...,...,...,...
2403,45.0,Male,Yes,Yes,0,Yes,Yes
2404,30.0,Female,Yes,Yes,1,Yes,Yes
2405,35.0,Male,Yes,Yes,1,I don't know,Possibly
2406,33.0,Male,Yes,Yes,1,I don't know,Yes
2407,38.0,male,Yes,No,1,No,NaN

In [7]:
#Distribution of the data
print(arp_data.describe())
print(arp_data.shape)

# Assign default values for each data type
defaultInt = 0
defaultString = 'NaN'
defaultFloat = 0.0

arp_data.head()


#Check for missing data
total = arp_data.isnull().sum().sort_values(ascending=False)
percent = (arp_data.isnull().sum()/arp_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)
print(missing_data)

print(arp_data.info())

'''
#correlation matrix
corrmat =arp_data.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrmat, vmax=.8, square=True);
plt.show()
'''
'''
#MH6 correlation matrix
k = 10 #number of variables for heatmap
cols = corrmat.nlargest(k, 'MH6')['MH6'].index
cm = np.corrcoef(arp_data[cols].values.T)
sns.set(font_scale=1.25)
hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)
plt.show()
'''

        Unnamed: 0  What is your age?  \
count  2408.000000        2406.000000
mean   1591.806063          34.808811
std     941.018110          11.097265
min       0.000000           0.000000
25%     770.750000          28.000000
50%    1565.000000          33.000000
75%    2393.500000          39.000000
max    3268.000000         323.000000

       Have you ever sought treatment for a mental health disorder from a mental health professional?
count                                        2408.000000
mean                                            0.627492
std                                             0.483573
min                                             0.000000
25%                                             0.000000
50%                                             1.000000
75%                                             1.000000
max                                             1.000000
(2408, 8)
                                                    Total   Percent
Have you ever been *diagnosed* with a mental he...    546  0.226744
Have you had a mental health disorder in the past?     23  0.009551
What is your gender?                                   22  0.009136
What is your age?                                       2  0.000831
Unnamed: 0                                              0  0.000000
Do you *currently* have a mental health disorder?       0  0.000000
Have you ever sought treatment for a mental hea...      0  0.000000
Do you have a family history of mental illness?         0  0.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2408 entries, 0 to 2407
Data columns (total 8 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Unnamed: 0                                                                                      2408 non-null   int64
 1   What is your age?                                                                               2406 non-null   float64
 2   What is your gender?                                                                            2386 non-null   object
 3   Do you *currently* have a mental health disorder?                                               2408 non-null   object
 4   Have you ever been *diagnosed* with a mental health disorder?                                   1862 non-null   object
 5   Have you ever sought treatment for a mental health disorder from a mental health professional?  2408 non-null   int64
 6   Do you have a family history of mental illness?                                                 2408 non-null   object
 7   Have you had a mental health disorder in the past?                                              2385 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 169.3+ KB
None

"\n#MH6 correlation matrix\nk = 10 #number of variables for heatmap\ncols = corrmat.nlargest(k, 'MH6')['MH6'].index\ncm = np.corrcoef(arp_data[cols].values.T)\nsns.set(font_scale=1.25)\nhm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)\nplt.show()\n"

In [8]:
arp_data.isna().sum()

Unnamed: 0                                                                                          0
What is your age?                                                                                   2
What is your gender?                                                                               22
Do you *currently* have a mental health disorder?                                                   0
Have you ever been *diagnosed* with a mental health disorder?                                     546
Have you ever sought treatment for a mental health disorder from a mental health professional?      0
Do you have a family history of mental illness?                                                     0
Have you had a mental health disorder in the past?                                                 23
dtype: int64

In [9]:
#Renaming columns
arp_data.rename(columns = {
    'What is your age?': 'Age',
    'What is your gender?': 'Sex', 
    'Do you *currently* have a mental health disorder?': 'Have_mental_illness',
    'Have you ever been *diagnosed* with a mental health disorder?': 'Mental_illness_diagnosis',
    'Have you ever sought treatment for a mental health disorder from a mental health professional?': 'Sought_mental_treatment',
    'Do you have a family history of mental illness?': 'Mental_illness_family_history',
    'Have you had a mental health disorder in the past?': 'Mental_disorder_in_the_past'
}, inplace = True)

In [10]:
arp_data

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past
0,0,39.0,Male,No,Yes,0,No,Yes
1,2,38.0,Male,No,No,1,No,Maybe
2,6,30.0,M,No,No,0,No,No
3,17,34.0,Male,No,No,0,No,No
4,20,26.0,Male,No,No,0,Yes,Maybe
...,...,...,...,...,...,...,...,...
2403,3254,45.0,Male,Yes,Yes,0,Yes,Yes
2404,3255,30.0,Female,Yes,Yes,1,Yes,Yes
2405,3260,35.0,Male,Yes,Yes,1,I don't know,Possibly
2406,3264,33.0,Male,Yes,Yes,1,I don't know,Yes
2407,3268,38.0,male,Yes,No,1,No,NaN

In [11]:
# Assign default values for each data type
defaultInt = 0
defaultString = 'NaN'
defaultFloat = 0.0

# Create lists by data type
intFeatures = ['Age', 'Sought_mental_treatment']
stringFeatures = ['Sex', 'Have_mental_illness', 'Mental_illness_diagnosis', 'Mental_illness_family_history', 'Mental_disorder_in_the_past']
floatFeatures = ['Age']

In [12]:
# Clean the NaN's
for feature in arp_data:
    if feature in intFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultInt)
    elif feature in stringFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultString)
    elif feature in floatFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultFloat)
    else:
        print('Error: %s not recognized.' % feature)
arp_data.head()

Error: Unnamed: 0 not recognized.

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past
0,0,39.0,Male,No,Yes,0,No,Yes
1,2,38.0,Male,No,No,1,No,Maybe
2,6,30.0,M,No,No,0,No,No
3,17,34.0,Male,No,No,0,No,No
4,20,26.0,Male,No,No,0,Yes,Maybe

In [13]:
#normalizing 'gender' values
gender = arp_data['Sex'].str.lower()
print(gender)

#Select unique values
gender = arp_data['Sex'].unique()

#grouping
male_str = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male"]
trans_str = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", "guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means"]           
female_str = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail"]

for (row, col) in arp_data.iterrows():

    if str.lower(col.Sex) in male_str:
        arp_data['Sex'].replace(to_replace=col.Sex, value='male', inplace=True)

    if str.lower(col.Sex) in female_str:
        arp_data['Sex'].replace(to_replace=col.Sex, value='female', inplace=True)

    if str.lower(col.Sex) in trans_str:
        arp_data['Sex'].replace(to_replace=col.Sex, value='trans', inplace=True)
  
#getting unique values
stk_list = ['A little about you', 'p']
arp_data = arp_data[~arp_data['Sex'].isin(stk_list)]
arp_data['Sex'].unique()

0         male
1        male
2            m
3         male
4         male
         ...
2403      male
2404    female
2405      male
2406      male
2407      male
Name: Sex, Length: 2408, dtype: object

array(['male', 'female', 'fm', 'Genderfluid (born female)',
       'female/woman', 'Male.', 'Sex is male', 'Dude', 'M|', 'fem',
       ' Female', 'NaN',
       "male (hey this is the tech industry you're talking about)",
       'God King of the Valajar', 'cis male ', 'Contextual', 'Malel',
       'Male (or female, or both)', 'transgender',
       'Female/gender non-binary.', 'none', 'Cisgender male', 'SWM',
       'Identify as male', 'Masculine', 'I have a penis', 'femmina', '43',
       'Trans non-binary/genderfluid', 'Femile', 'cisgender male',
       'I identify as female.', 'Bigender', 'trans',
       'Female assigned at birth ', 'Cis female ', 'Transitioned, M2F',
       'Female or Multi-Gender Femme', 'Other', 'nb masculine',
       'Cisgender Female', 'Human', 'Genderfluid', 'genderqueer woman',
       'mtf', 'Male/genderqueer', 'Nonbinary', 'Unicorn',
       'Male (trans, FtM)', 'Cis-woman', 'cisdude',
       'Genderflux demi-girl', 'AFAB', 'Transgender woman', 'cis-male',
       'cis hetero male', 'uhhhhhhhhh fem genderqueer?',
       'My sex is female.', 'Cis-male', 'sometimes', 'Female (cis) ',
       'Woman-identified', 'Non binary', 'Genderqueer demigirl',
       'Genderqueer/non-binary', 'cis-Female', 'nonbinary',
       'F, cisgender', 'Female-ish', 'Ostensibly Male',
       'I identify as female', '*shrug emoji* (F)', 'Trans man',
       'non binary', 'Cis woman', 'Cis-Female', 'Cisgendered woman',
       'genderfluid', 'Trans female', 'She/her/they/them', 'NB',
       'gender non-conforming woman', 'Female-identified', 'Questioning',
       'rr', 'Agender trans woman', 'None', 'Non-binary and gender fluid',
       'female, she/her', 'afab non-binary', 'male/he/him', 'homem cis',
       'cis-het male', 'Non-binary/Agender'], dtype=object)

In [14]:
#filling missing values in Age column by taking median
arp_data['Age'].fillna(arp_data['Age'].median(), inplace = True)

# Fill with median() values < 18 and > 120
s = pd.Series(arp_data['Age'])
s[s<18] = arp_data['Age'].median()
arp_data['Age'] = s
s = pd.Series(arp_data['Age'])
s[s>120] = arp_data['Age'].median()
arp_data['Age'] = s

#Age groups
arp_data['age_range'] = pd.cut(arp_data['Age'], [0,20,30,65,100], labels=["0-20", "21-30", "31-65", "66-100"], include_lowest=True)

In [15]:
#Encoding data
labelDict = {}
for feature in arp_data:
    le = preprocessing.LabelEncoder()
    le.fit(arp_data[feature])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    arp_data[feature] = le.transform(arp_data[feature])
    # Get labels
    labelKey = 'label_' + feature
    labelValue = [*le_name_mapping]
    labelDict[labelKey] =labelValue
    
for key, value in labelDict.items():     
    print(key, value)

#Get rid of 'Country'
#arp_data = arp_data.drop(['Country'], axis= 1)
arp_data

label_Unnamed: 0 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 55, 59, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 87, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 107, 108, 109, 111, 113, 114, 115, 116, 117, 118, 121, 122, 123, 124, 127, 128, 129, 132, 133, 134, 135, 137, 138, 139, 140, 141, 143, 144, 146, 147, 148, 149, 150, 151, 152, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 171, 172, 174, 175, 176, 177, 178, 179, 180, 181, 183, 184, 185, 186, 187, 188, 190, 192, 194, 195, 196, 197, 198, 199, 201, 203, 205, 206, 207, 208, 209, 210, 211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 229, 230, 231, 232, 233, 234, 235, 237, 239, 241, 242, 243, 244, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 257, 260, 261, 262, 263, 265, 266, 267, 268, 269, 270, 271, 272, 273, 275, 277, 279, 280, 281, 283, 284, 285, 286, 287, 288, 289, 290, 293, 295, 296, 297, 298, 299, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 325, 326, 327, 328, 329, 330, 331, 336, 338, 339, 340, 341, 342, 344, 345, 347, 348, 349, 351, 352, 354, 355, 356, 357, 358, 360, 361, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 374, 375, 376, 377, 378, 380, 381, 382, 383, 384, 386, 387, 388, 389, 390, 391, 392, 394, 395, 397, 398, 399, 400, 402, 403, 404, 405, 407, 408, 409, 410, 412, 413, 414, 415, 416, 417, 418, 420, 421, 422, 423, 425, 426, 427, 428, 429, 430, 431, 432, 433, 435, 436, 437, 439, 440, 441, 442, 446, 448, 449, 450, 451, 452, 453, 454, 457, 459, 462, 463, 464, 465, 467, 468, 469, 471, 472, 475, 476, 477, 479, 480, 481, 482, 483, 485, 486, 487, 488, 489, 492, 494, 496, 497, 501, 505, 506, 507, 508, 509, 510, 511, 512, 513, 516, 517, 519, 520, 521, 522, 524, 525, 526, 527, 528, 529, 531, 532, 533, 534, 536, 538, 540, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 557, 558, 559, 560, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 580, 582, 583, 584, 585, 586, 588, 589, 590, 591, 592, 594, 596, 597, 598, 599, 600, 601, 602, 604, 605, 609, 610, 612, 613, 615, 616, 617, 618, 619, 620, 621, 622, 624, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 640, 641, 642, 643, 647, 649, 650, 651, 652, 653, 654, 655, 657, 658, 659, 660, 662, 663, 666, 667, 669, 670, 671, 672, 673, 674, 675, 676, 679, 680, 682, 684, 685, 686, 687, 688, 689, 690, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 703, 704, 705, 706, 708, 709, 710, 711, 712, 713, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 731, 732, 734, 735, 738, 739, 740, 741, 742, 743, 744, 745, 746, 749, 750, 753, 754, 756, 757, 758, 759, 761, 762, 763, 764, 766, 767, 768, 769, 770, 771, 772, 773, 775, 776, 777, 778, 780, 781, 782, 785, 786, 787, 788, 790, 792, 795, 798, 800, 801, 803, 805, 806, 807, 808, 809, 812, 813, 815, 816, 817, 818, 820, 822, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 855, 856, 857, 858, 859, 860, 863, 865, 866, 867, 868, 869, 870, 871, 872, 873, 875, 877, 878, 882, 884, 885, 887, 888, 889, 891, 892, 894, 895, 896, 897, 899, 900, 901, 902, 903, 905, 906, 908, 909, 910, 912, 913, 915, 916, 917, 919, 920, 921, 923, 924, 925, 926, 927, 929, 930, 931, 933, 934, 935, 936, 937, 938, 939, 942, 943, 944, 945, 946, 947, 949, 951, 953, 955, 956, 958, 959, 960, 961, 962, 963, 964, 967, 968, 969, 971, 972, 973, 974, 975, 977, 978, 979, 981, 982, 984, 987, 988, 989, 990, 992, 993, 995, 996, 997, 999, 1000, 1001, 1002, 1004, 1005, 1007, 1009, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1021, 1022, 1023, 1024, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1062, 1064, 1065, 1066, 1068, 1069, 1070, 1071, 1073, 1075, 1080, 1081, 1082, 1084, 1085, 1087, 1088, 1091, 1092, 1094, 1095, 1096, 1097, 1098, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1112, 1113, 1114, 1115, 1117, 1118, 1119, 1121, 1122, 1125, 1126, 1127, 1128, 1130, 1132, 1133, 1134, 1135, 1137, 1138, 1139, 1140, 1142, 1143, 1144, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1163, 1164, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1178, 1179, 1180, 1181, 1182, 1183, 1185, 1186, 1187, 1188, 1189, 1190, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1201, 1202, 1203, 1204, 1205, 1207, 1208, 1210, 1212, 1213, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1244, 1246, 1247, 1248, 1250, 1251, 1252, 1254, 1256, 1257, 1258, 1259, 1261, 1263, 1264, 1265, 1266, 1267, 1268, 1270, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1282, 1283, 1284, 1286, 1287, 1288, 1289, 1290, 1291, 1293, 1295, 1298, 1300, 1302, 1303, 1305, 1307, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1340, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1351, 1352, 1353, 1354, 1356, 1357, 1358, 1362, 1363, 1364, 1365, 1368, 1369, 1370, 1371, 1372, 1374, 1375, 1376, 1377, 1378, 1379, 1381, 1382, 1384, 1387, 1389, 1391, 1392, 1395, 1396, 1397, 1398, 1399, 1401, 1402, 1403, 1404, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1421, 1422, 1423, 1424, 1426, 1427, 1428, 1429, 1431, 1432, 1435, 1436, 1437, 1438, 1439, 1440, 1443, 1444, 1445, 1446, 1447, 1448, 1450, 1455, 1456, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1473, 1474, 1475, 1477, 1478, 1479, 1480, 1482, 1483, 1484, 1485, 1487, 1488, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1505, 1506, 1507, 1509, 1510, 1511, 1512, 1513, 1514, 1516, 1517, 1518, 1519, 1520, 1521, 1523, 1525, 1526, 1527, 1530, 1531, 1532, 1533, 1534, 1537, 1538, 1540, 1541, 1543, 1545, 1546, 1547, 1548, 1552, 1553, 1554, 1555, 1556, 1559, 1560, 1561, 1562, 1563, 1564, 1566, 1567, 1570, 1572, 1573, 1574, 1575, 1578, 1579, 1581, 1582, 1583, 1584, 1586, 1588, 1589, 1590, 1591, 1594, 1595, 1599, 1601, 1602, 1603, 1604, 1605, 1607, 1608, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1618, 1619, 1621, 1622, 1624, 1626, 1627, 1628, 1629, 1630, 1631, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1641, 1642, 1646, 1648, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1663, 1664, 1667, 1668, 1669, 1670, 1673, 1674, 1676, 1677, 1678, 1679, 1681, 1682, 1683, 1684, 1685, 1688, 1689, 1690, 1691, 1692, 1693, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1704, 1705, 1708, 1709, 1710, 1711, 1712, 1713, 1716, 1718, 1719, 1720, 1722, 1723, 1725, 1728, 1729, 1730, 1731, 1732, 1734, 1735, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1769, 1771, 1774, 1775, 1776, 1777, 1779, 1781, 1783, 1784, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1810, 1812, 1814, 1815, 1816, 1818, 1820, 1821, 1825, 1827, 1828, 1829, 1830, 1832, 1833, 1835, 1836, 1837, 1838, 1840, 1841, 1843, 1844, 1846, 1847, 1849, 1851, 1853, 1854, 1855, 1857, 1858, 1859, 1860, 1861, 1864, 1865, 1866, 1868, 1870, 1872, 1874, 1876, 1877, 1879, 1880, 1883, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1905, 1906, 1907, 1908, 1909, 1911, 1912, 1913, 1914, 1916, 1917, 1918, 1919, 1920, 1921, 1923, 1924, 1926, 1927, 1928, 1929, 1932, 1933, 1934, 1935, 1937, 1938, 1942, 1944, 1945, 1947, 1948, 1949, 1950, 1951, 1953, 1956, 1957, 1958, 1959, 1961, 1962, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1972, 1975, 1976, 1978, 1979, 1982, 1984, 1985, 1988, 1989, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1999, 2000, 2002, 2004, 2005, 2006, 2007, 2009, 2010, 2011, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2026, 2027, 2028, 2030, 2031, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2050, 2053, 2054, 2055, 2057, 2058, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2068, 2069, 2070, 2071, 2073, 2074, 2075, 2076, 2078, 2079, 2081, 2082, 2083, 2085, 2086, 2088, 2092, 2093, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2103, 2105, 2106, 2107, 2109, 2110, 2111, 2115, 2118, 2120, 2122, 2123, 2124, 2125, 2126, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2141, 2143, 2144, 2145, 2146, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2158, 2161, 2164, 2165, 2166, 2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2178, 2179, 2180, 2181, 2182, 2184, 2185, 2186, 2188, 2190, 2191, 2192, 2193, 2194, 2195, 2196, 2199, 2200, 2201, 2204, 2205, 2206, 2208, 2209, 2210, 2211, 2213, 2214, 2215, 2217, 2218, 2222, 2223, 2224, 2225, 2226, 2229, 2230, 2234, 2235, 2238, 2239, 2240, 2241, 2242, 2243, 2244, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2254, 2255, 2256, 2257, 2258, 2259, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2273, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2309, 2310, 2311, 2312, 2315, 2317, 2318, 2319, 2320, 2321, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2339, 2342, 2344, 2345, 2347, 2348, 2349, 2350, 2353, 2354, 2356, 2357, 2359, 2360, 2361, 2365, 2367, 2368, 2369, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2381, 2382, 2383, 2384, 2385, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2395, 2396, 2398, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2416, 2417, 2418, 2419, 2421, 2424, 2425, 2427, 2428, 2429, 2433, 2434, 2437, 2438, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2452, 2453, 2454, 2455, 2456, 2457, 2460, 2466, 2467, 2469, 2470, 2472, 2473, 2474, 2475, 2477, 2478, 2479, 2480, 2481, 2483, 2484, 2486, 2487, 2488, 2489, 2490, 2492, 2493, 2494, 2496, 2497, 2498, 2500, 2504, 2505, 2506, 2508, 2509, 2510, 2512, 2517, 2518, 2519, 2521, 2522, 2523, 2524, 2525, 2527, 2528, 2529, 2530, 2531, 2532, 2534, 2535, 2536, 2537, 2538, 2539, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2552, 2553, 2554, 2555, 2557, 2558, 2560, 2561, 2563, 2565, 2566, 2569, 2570, 2571, 2572, 2575, 2576, 2578, 2579, 2580, 2581, 2582, 2584, 2585, 2586, 2588, 2589, 2590, 2592, 2593, 2594, 2595, 2598, 2599, 2600, 2601, 2602, 2603, 2605, 2608, 2609, 2610, 2611, 2612, 2614, 2617, 2619, 2620, 2621, 2623, 2625, 2626, 2627, 2628, 2630, 2631, 2632, 2634, 2635, 2637, 2638, 2640, 2644, 2645, 2646, 2647, 2649, 2650, 2651, 2652, 2654, 2655, 2657, 2659, 2660, 2661, 2663, 2665, 2666, 2669, 2670, 2672, 2674, 2676, 2678, 2680, 2681, 2682, 2685, 2687, 2688, 2689, 2690, 2691, 2692, 2695, 2696, 2697, 2698, 2699, 2700, 2703, 2704, 2706, 2707, 2708, 2709, 2712, 2713, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2729, 2730, 2732, 2733, 2734, 2736, 2737, 2738, 2739, 2740, 2741, 2743, 2744, 2746, 2747, 2748, 2749, 2751, 2752, 2753, 2756, 2757, 2758, 2759, 2760, 2761, 2763, 2764, 2765, 2767, 2768, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2784, 2786, 2787, 2788, 2789, 2790, 2792, 2795, 2797, 2799, 2800, 2802, 2803, 2804, 2806, 2807, 2808, 2809, 2810, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2835, 2836, 2838, 2839, 2840, 2842, 2843, 2845, 2846, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2862, 2866, 2868, 2869, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2882, 2884, 2885, 2886, 2888, 2889, 2890, 2891, 2894, 2895, 2896, 2897, 2898, 2899, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2912, 2913, 2914, 2916, 2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2927, 2928, 2929, 2930, 2931, 2933, 2934, 2936, 2937, 2938, 2940, 2941, 2942, 2943, 2944, 2945, 2948, 2949, 2950, 2951, 2952, 2954, 2955, 2957, 2959, 2960, 2961, 2963, 2964, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2981, 2986, 2988, 2989, 2990, 2993, 2995, 2996, 2997, 2998, 3000, 3001, 3003, 3004, 3006, 3008, 3010, 3014, 3016, 3018, 3019, 3021, 3023, 3024, 3029, 3030, 3032, 3033, 3034, 3035, 3036, 3039, 3040, 3041, 3044, 3048, 3049, 3050, 3054, 3055, 3056, 3057, 3060, 3061, 3064, 3065, 3066, 3067, 3068, 3070, 3071, 3073, 3075, 3079, 3081, 3082, 3083, 3087, 3088, 3089, 3090, 3091, 3092, 3097, 3100, 3101, 3102, 3103, 3104, 3105, 3107, 3108, 3110, 3111, 3112, 3115, 3116, 3118, 3119, 3120, 3121, 3123, 3124, 3125, 3126, 3127, 3131, 3132, 3133, 3135, 3137, 3139, 3140, 3142, 3143, 3144, 3146, 3147, 3148, 3149, 3150, 3151, 3153, 3155, 3156, 3157, 3159, 3161, 3163, 3164, 3167, 3168, 3169, 3170, 3172, 3173, 3174, 3175, 3176, 3178, 3181, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191, 3193, 3194, 3196, 3198, 3199, 3200, 3201, 3202, 3203, 3205, 3206, 3207, 3208, 3211, 3213, 3214, 3215, 3216, 3217, 3218, 3220, 3221, 3222, 3223, 3226, 3227, 3229, 3231, 3232, 3234, 3235, 3236, 3238, 3241, 3242, 3243, 3245, 3246, 3247, 3248, 3249, 3250, 3252, 3253, 3254, 3255, 3256, 3259, 3260, 3261, 3262, 3264, 3265, 3266, 3268]
label_Age [19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 70.0, 74.0, 99.0]
label_Sex [' Female', '*shrug emoji* (F)', '43', 'AFAB', 'Agender trans woman', 'Bigender', 'Cis female ', 'Cis woman', 'Cis-Female', 'Cis-male', 'Cis-woman', 'Cisgender Female', 'Cisgender male', 'Cisgendered woman', 'Contextual', 'Dude', 'F, cisgender', 'Female (cis) ', 'Female assigned at birth ', 'Female or Multi-Gender Femme', 'Female-identified', 'Female-ish', 'Female/gender non-binary.', 'Femile', 'Genderfluid', 'Genderfluid (born female)', 'Genderflux demi-girl', 'Genderqueer demigirl', 'Genderqueer/non-binary', 'God King of the Valajar', 'Human', 'I have a penis', 'I identify as female', 'I identify as female.', 'Identify as male', 'Male (or female, or both)', 'Male (trans, FtM)', 'Male.', 'Male/genderqueer', 'Malel', 'Masculine', 'My sex is female.', 'M|', 'NB', 'NaN', 'Non binary', 'Non-binary and gender fluid', 'Non-binary/Agender', 'Nonbinary', 'None', 'Ostensibly Male', 'Other', 'Questioning', 'SWM', 'Sex is male', 'She/her/they/them', 'Trans female', 'Trans man', 'Trans non-binary/genderfluid', 'Transgender woman', 'Transitioned, M2F', 'Unicorn', 'Woman-identified', 'afab non-binary', 'cis hetero male', 'cis male ', 'cis-Female', 'cis-het male', 'cis-male', 'cisdude', 'cisgender male', 'fem', 'female', 'female, she/her', 'female/woman', 'femmina', 'fm', 'gender non-conforming woman', 'genderfluid', 'genderqueer woman', 'homem cis', 'male', "male (hey this is the tech industry you're talking about)", 'male/he/him', 'mtf', 'nb masculine', 'non binary', 'nonbinary', 'none', 'rr', 'sometimes', 'trans', 'transgender', 'uhhhhhhhhh fem genderqueer?']
label_Have_mental_illness ['No', 'Yes']
label_Mental_illness_diagnosis ['NaN', 'No', 'Yes']
label_Sought_mental_treatment [0, 1]
label_Mental_illness_family_history ["I don't know", 'No', 'Yes']
label_Mental_disorder_in_the_past ["Don't Know", 'Maybe', 'NaN', 'No', 'Possibly', 'Yes']
label_age_range ['0-20', '21-30', '31-65', '66-100']

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past,age_range
0,0,20,81,0,2,0,1,5,2
1,2,19,81,0,1,1,1,1,2
2,6,11,81,0,1,0,1,3,1
3,16,15,81,0,1,0,1,3,2
4,19,7,81,0,1,0,2,1,1
...,...,...,...,...,...,...,...,...,...
2403,2397,26,81,1,2,0,2,5,2
2404,2398,11,72,1,2,1,2,5,1
2405,2401,16,81,1,2,1,0,4,2
2406,2404,14,81,1,2,1,0,5,2
2407,2407,19,81,1,1,1,1,2,2

In [16]:
#checking for null values
total = arp_data.isnull().sum().sort_values(ascending=False)
percent = (arp_data.isnull().sum()/arp_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)
print(missing_data)

                               Total  Percent
Unnamed: 0                         0      0.0
Age                                0      0.0
Sex                                0      0.0
Have_mental_illness                0      0.0
Mental_illness_diagnosis           0      0.0
Sought_mental_treatment            0      0.0
Mental_illness_family_history      0      0.0
Mental_disorder_in_the_past        0      0.0
age_range                          0      0.0

In [17]:
arp_data.isna().sum()

Unnamed: 0                       0
Age                              0
Sex                              0
Have_mental_illness              0
Mental_illness_diagnosis         0
Sought_mental_treatment          0
Mental_illness_family_history    0
Mental_disorder_in_the_past      0
age_range                        0
dtype: int64

In [59]:
arp_data

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past,age_range
0,0,20,81,0,2,0,1,5,2
1,2,19,81,0,1,1,1,1,2
2,6,11,81,0,1,0,1,3,1
3,16,15,81,0,1,0,1,3,2
4,19,7,81,0,1,0,2,1,1
...,...,...,...,...,...,...,...,...,...
2402,2391,17,47,1,2,1,2,5,2
2403,2397,26,81,1,2,0,2,5,2
2404,2398,11,72,1,2,1,2,5,1
2405,2401,16,81,1,2,1,0,4,2
2406,2404,14,81,1,2,1,0,5,2

In [60]:
arp_data['Sought_mental_treatment'].value_counts()

1    1342
0     475
Name: Sought_mental_treatment, dtype: int64

In [57]:
# Drop 'dont know' and 'NAN' values from each column
arp_data = arp_data[arp_data['Mental_disorder_in_the_past'] != 0]
arp_data = arp_data[arp_data['Mental_disorder_in_the_past'] != 2]
arp_data = arp_data[arp_data['Mental_illness_diagnosis'] != 0]
arp_data = arp_data[arp_data['Sought_mental_treatment'] != 0]

In [18]:
# save cleaned data to csv
arp_data.to_csv("mental_health_data_2016-2021_ready_for_ML.csv")